geoalchemy2==0.14.3
geopandas==0.14.3
numpy==1.26.3
osmnx==1.9.1
pandas==2.2.0
psycopg2~=2.9.9
pyogrio~=0.7.2
shapely~=2.0.0
requests~=2.31.0
SQLAlchemy==2.0.25
folium==0.15.1
Rtree==1.2.0
pytz==2024.1
timezonefinder==6.4.0
Pillow~=9.4.0
tqdm==4.66.1